* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

main {
  position: relative;
  background: url("../public/assets/img/background.png") no-repeat center center
    fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#vanta {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.animated {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

img {
  width: 6rem !important;
  height: 6rem !important;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

.name {
  padding: 0.3em 0.6em;
  border: 1px solid #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}

.messenger {
  background: linear-gradient(180deg, #89cff0, #0078ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.whatsapp {
  background: radial-gradient(circle at center, #25d366, #2bb741, #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.icon {
  background-color: #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  border-radius: 10rem;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

.icon:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li a {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.7;
  text-align: center;
  transform: translate(0, 0);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  will-change: transform;
}
.social-menu ul li a:hover {
  color: #ffffff;
  transform: translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
  color: #833ab4;
  background: linear-gradient(45deg, #833ab4, #fd1d1d);
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
  background-color: #0077b5;
}
.social-menu ul li a:hover {
  opacity: 1;
}
