* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background: url("/assets/img/kiminonawa.jpeg") no-repeat center center fixed;
  background-size: cover;
}

main {
  position: relative;
}

#vanta {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.animated {
  opacity: 0;
  filter: blur(10px);
  transition: opacity 2s ease-in-out, filter 2s ease-in-out;
}

img {
  width: 6rem !important;
  height: 6rem !important;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

.name {
  padding: 0.3em 0.6em;
  border: 1px solid #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}

.messenger {
  background: linear-gradient(180deg, #89cff0, #0078ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.whatsapp {
  background: radial-gradient(circle at center, #25d366, #2bb741, #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.icon {
  background-color: #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  border-radius: 10rem;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

.icon:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.motto {
  background: linear-gradient(
    90deg,
    #90ee90,
    rgb(68, 145, 184),
    rgb(21, 49, 151),
    rgb(128, 21, 200)
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
